
.document {
    &__list{
        display: flex;
        flex-wrap: wrap;
        width: 60%;
        margin: 0 auto;
    }
    &__item {
        padding: 10px;
        width: 30%;
        margin: 1%;
        background: #fff;
        border-radius: 12px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        transition: transform 0.2s;

        &:hover {
            transform: translateY(-5px);
        }
    }

    &__image img {
        // text-align: center;
        margin: 0 auto;
        width: 80%;
        height: 265px;
        object-fit: cover;
        border-bottom: 1px solid #eee;
    }

    &__content {
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &__title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 12px;
        color: #333;
    }

    &__info {
        font-size: 14px;
        color: #666;
        margin-bottom: 16px;

        p {
            display: flex;
            align-items: center;
            gap: 6px;
            margin-bottom: 4px;

            span {
                font-weight: bold;
                color: #e53935;
            }
        }
    }

    &__btn {
        display: flex;
        justify-content: flex-end;

        button {
            background: #1e88e5;
            color: #fff;
            border: none;
            padding: 10px 16px;
            border-radius: 8px;
            cursor: pointer;
            transition: 0.2s;

            &:hover {
                background: #1565c0;
            }
        }
    }
}
.pagination__wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  